@font-face {
  font-family: "Soria";
  src: url("../fonts/soria-font.ttf");
}

body {
  background-color: white;
  color: #333;
  font-family: "Soria";
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  font-size: 48px;
}
