@import "bootstrap.css";

@font-face {
  font-family: "Soria";
  src: url("../fonts/soria-font.ttf");
}

body {
  background-color: white;
  color: #333;
  text-align: center;
}

.soria {
  font-family: "Soria";
}

.header {
  margin-top: 2em;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  font-size: 48px;
}
